# Run artifacts
__pycache__/
*.py[cod]

# Notebooks
*.ipynb
.ipynb_checkpoints

# Logs
logs/
!logs/.keep

# Staticfiles
static/
!static/.keep

# Build artifacts
traktor_server.egg-info
build/
dist/

# Test artifacts
.coverage

# IDE Configuration
.idea
.vscode
